include CHANGELOG.md CONTRIBUTING.md
include requirement.txt requirements.in requirements-dev.txt
recursive-include configs *.toml *.json *.yaml
recursive-include docs *.md *.patch
recursive-include scripts *.py *.ps1
recursive-include tests *.py
